div .description{
    text-align: center;
    height:260px;
}

div .remaining-words{
    margin:10px;
    text-align: center;
    font-size: 16px;
}

div .button-train{
    margin-left: 105px;
    margin-top: 15px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}